.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  --bs-gutter-x: 0;
}


video {
  border: 2px solid black;
}


.row::after {
  display: block;
  clear: both;
  content: "";

}


* {
  box-sizing: border-box;
}

.col-1 {
  width: 8.33%
}

;

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-121 {
  width: 100%;
}

.row-card {
  margin-top: 100px;
}


@media only screen and (max-width: 500px) {

  .col-5 {
    width: 100%;
  }

  .col-7 {
    width: 100%;
  }

  .row-card {
    margin-top: 0px;
  }

}

@media only screen and (max-width: 690px) {


  .row-card {
    margin-top: 0px;
  }

  .privacy{
    text-align: center;
  }
}

  .homeback{
    background-image: url("../components/images/blueback.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
  }

  .homehead{
    font-weight: bolder;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0 0 3px #ffffff;
}
  

  .homelist{
    font-weight: bold;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:x-large;
  }

  .expert{
    background-color: #ffffff;
    display: flex;
      justify-content: center;
  }

  .expertlist{
    font-weight: bold;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:large;
  }

  /* .facility{
    background-image: url("../components/images/peace.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 650px;
  } */

  .cure{
    background-color: #ffffff;
  }
